<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" href="style.css" type="text/css" />

    <title>Editar Cliente</title>
    <meta charset="UTF-8" />
</head>

<body>
    <section th:fragment="editarCliente">
        <form th:action="@{/guardar}" th:object="${usuario}" method="POST" class="was-validated">
            <input type="hidden" name="idUsuario" th:field="*{idUsuario}" />
            <section th:replace="layout/botonRegresar" :: botonesEditar></section>
            <div class="details">
                <div class="container-fluid container-lg">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4>[[#{accion.editar}]]</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="nombre">[[#{persona.nombre}]]</label>
                                        <input type="text" class="form-control" name="nombre" required="true"
                                            th:field="*{nombre}">
                                    </div>
                                    <div class="form-group">
                                        <label for="apellido">[[#{persona.apellido}]]</label>
                                        <input type="text" class="form-control" name="apellido" required="true"
                                            th:field="*{apellido}">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">[[#{persona.email}]]</label>
                                        <input type="email" class="form-control" name="email" required="true"
                                            th:field="*{email}">
                                    </div>
                                    <div class="form-group">
                                        <label for="telefono">[[#{persona.telefono}]]</label>
                                        <input type="tel" class="form-control" name="telefono" th:field="*{telefono}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section th:replace="layout/botonesEditar" :: botonesEditar></section>
        </form>
    </section>
</body>

</html>