<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Listado Clientes</title>
    <meta charset="UTF-8" />
</head>

<body>
    <section th:fragment="listadoPersonas" id="personas">
        <div class="container-fluid container-lg mt-3">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="card border-0">
                        <div th:if="${palabraClave != null and !palabraClave.empty}" class="card-header barra">
                            <h5 class="ressubtitle float-left text-white ">[[${palabraClave}]]</h5>
                        </div>
                        <iframe name="request" style="display: none"></iframe>

                        <div id="lista" name="lista">
                            <div
                                th:if="${personas != null and !personas.empty and palabraClave != null and !palabraClave.empty}">
                                <div th:each="persona, contador : ${personas}">
                                    <div id="accordion">
                                        <div class="rescard card mb-3 border sombraSensilla2">
                                            <div class="card-header">
                                                <div>
                                                    <button id="nombre" class="pb-1 pt-1 border-0 "
                                                        style="background: rgba(255, 255, 255, 0)"
                                                        data-toggle="collapse" th:href="@{#} + ${persona.idPersona}">
                                                        <i class="fa-solid fa-address-card"></i>
                                                    </button>
                                                    <strong>[[${persona.nombre}]]</strong>
                                                </div>
                                            </div>
                                            <div th:id="${persona.idPersona}" class="collapse-show" data-parent="#accordion">
                                            <div class="card-body border " >
                                                <div>
                                                <strong>[[#{persona.id}]]:</strong> [[${persona.idEmpresa}]]
                                                </div>
                                                <div>
                                                    <strong>[[#{persona.cedula}]]:</strong> [[${persona.cedula}]]
                                                </div>
                                                <div>
                                                    <strong>[[#{persona.proceso}]]:</strong> [[${persona.proceso}]]
                                                </div>
                                                <div>
                                                    <strong>Celular:</strong> [[${persona.celular}]]
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')"
                                                        th:href="@{https://api.whatsapp.com/send?phone=57} + ${persona.celular}"
                                                        class="btn btn-outline-info pt-0 pb-0  rounded-circle"
                                                        target="blank">
                                                        <!--
                                                        <img src="/images/wsp3.png" width="30" height="30" alt=""> 
                                                        -->
                                                        <i class="fa-brands fa-whatsapp"></i>
                                                    </a>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                            <div class="card-footer">

                                                <form th:action="@{/guardar(idPersona=${persona.idPersona}, idEmpresa=${persona.idEmpresa}, nombre=${persona.nombre},
                                                                    cedula=${persona.cedula}, proceso=${persona.proceso})}" th:object="${persona}"
                                                    method="POST" target="request" class="was-validated ">

                                                    <div class="btn-group btn-group-toggle float-right rounded"
                                                        data-toggle="buttons"
                                                        style="background-color: rgba(166, 211, 166, 0.349)">
                                                        <label class="rescard  btn btn-outline-primary" name="estado">
                                                            <input class="text-black" type="radio" name="estado"
                                                                value="Presente" autocomplete="off"
                                                                onclick="this.form.submit()">
                                                            Presente
                                                        </label>

                                                        <label class="rescard btn btn-outline-secondary" name="estado">
                                                            <input class="text-black" type="radio" name="estado"
                                                                value="Ausente" autocomplete="off"
                                                                onclick="this.form.submit()">
                                                            Ausente
                                                        </label>
                                                    </div>
                                                    <div class="float-left">
                                                        <input type="text" name="observaciones"
                                                            placeholder="Observaciones">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center"
                            th:if="${personas == null or personas.empty or palabraClave == null or palabraClave.empty}">
                            <img class="rounded"
                                        src="/images/Diversity _Isometric (1).svg" alt="">
                                    <h4 class="restitle">¿Qué equipo lideras?</h4>
                        </div>
                    </div>
                    <br>
                    <form th:action="@{/}" method="post">
                        <div class="form-group">
                            <select id="palabraClave" name="palabraClave" class="ressubtitle form-control"
                                th:value="${palabraClave}" onchange="this.form.submit()">
                                <option disabled="disabled" selected="true">Selecciona tu equipo...</option>
                                <option th:each="proceso:${procesos}" th:text="${proceso}">
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="sticky-top">
                    <div th:if="${palabraClave != null and !palabraClave.empty}" class="flex mt-3">
                        <h5 class="restitle text-center">[[${palabraClave}]]</h5>
                    </div>
                    <div th:fragment="models" class="card text-center bg-primary text-white mb-3 mt-3 ">
                        <div class="card-body sombraSensilla">
                            <h4 class="restarj" th:text="#{persona.totalPersonas}">Total Personas</h4>
                            <h4 class="restarj display-5">
                                <i class="fas fa-users"></i> [[${totalPersonas}]]
                            </h4>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>