<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Tarjetas Personas</title>
</head>

<body>
    <section th:fragment="tarjetasPersonas">
        <div class="container-fluid container-lg">
            <div class="row">
                <div class="col-12 col-lg-9">
                        <div th:fragment="models" class="card text-center bg-info text-white mx-5 my-5 mx-lg-0 my-lg-3  sombraSensilla">
                            <div class="card-body ">
                                <h3 class="restarj" th:text="#{persona.totalPersonas}">Total Personas</h3>
                                <h4 class="restarj display-4">
                                    <i class="fas fa-users"></i> <strong>[[${totalPersonas}]]</strong>
                                </h4>
                            </div>
                        </div>
                        <div th:fragment="models" class="card text-center bg-success text-white mx-5 my-5 mx-lg-0 my-lg-3 sombraSensilla">
                            <div class="card-body ">
                                <h3 class="restarj pb-3" text="Personas Presentes">Personas Presentes</h3>
                                <h4 class="restarj display-4">
                                    <i class="fas fa-users mb-3"></i> <strong class="restitle ml-2">[[${personasPresentes}]]</strong>
                                </h4>
                                <h4>
                                    <strong class="alert alert-success p-1">[[${PorcentajePresentes}]] %</strong>
                                </h4>

                            </div>
                    </div>
                        <div th:fragment="models" class="card text-center bg-danger  text-white mx-5 my-5 mx-lg-0 my-lg-3 sombraSensilla">
                            <div class="card-body ">
                                <h3 class="restarj pb-3" text="Personas Ausentes">Personas Ausentes</h3>
                                <h4 class="restarj display-4">
                                    <i class="fas fa-users mb-3"></i><strong class="restitle ml-2">[[${personasAusentes}]]</strong>
                                </h4>
                                <h4>
                                    <strong class="alert alert-danger p-1">[[${PorcentajeAusentes}]] %</strong>
                                </h4>
                            </div>
                    </div>
                        <div th:fragment="models" class="card text-center bg-secondary text-white mx-5 my-5 mx-lg-0 my-lg-3 sombraSensilla">
                            <div class="card-body ">
                                <h3 class="restarj pb-3" text="Personas sin Asistencia">Personas Sin Validar</h3>
                                <h4 class="restarj display-4">
                                    <i class="fas fa-users mb-3"></i><strong class="restitle ml-2">[[${personasSinValidar}]]</strong>
                                </h4>
                                <h4>
                                    <strong class="alert alert-secondary p-1">[[${PorcentajeSinValidar}]] %</strong>
                                </h4>
                            </div>
                        </div>
                </div>
                
                <div class="col-12 col-lg-3 ml-lg-auto" >
                    <div class="card mt-3 sombraSensilla2 ml-md-auto" style="width: 18em; margin: 0 auto">
                        <img class="card-img-top" src="/images/lupa.svg" alt="Card image cap">
                        <div class="card-body">
                        <p class="card-text text-center text">El precio de la grandeza es la responsabilidad...</p>
                        </div>
                    </div>
            </div>
            </div>
                    
            </div>
        </div>
        
    </section>
</body>

</html>