.cabecero {
    color: #fff;
    background:  url(/images/fondo.png), linear-gradient(to right, #0452a5, #007bff)
}

.sombraSensilla{
    box-shadow: 0px 0px 5px 1px black
}
.sombraSensilla2{
    box-shadow: 0px 10px 10px -6px black
}

.barra{
    background-color: #02254b
}

.res {
    font-size: 2.5vh
}

.rescard {
    font-size: 2.2vh
}

.restarj {
    font-size: 4vh
}