<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: head">
    <title>Cargar Datos</title>
</head>

<body>
    <header th:replace="layout/plantilla :: header"></header>
    <section th:replace="layout/cargarArchivo :: cargarArchivo"></section>
    <section th:replace="layout/cargando :: cargando"></section>
    <section th:replace="colap :: colap"></section>
    <section th:replace="layout/listadoPersonas :: listadoPersonas"></section>
    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>